* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0;
}

:root {
  --primary-dark: #1a1f2b;
  --white: #ffffff;
}

.app-title {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  font-size: 2.5em;
  font-weight: 900;
  margin-bottom: 2em;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10rem;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem 0;
  background-color: white;
}

.bottom-nav__item {
  background: none;
  border: none;
  cursor: pointer;
  transition: filter 0.2s ease, transform 0.2s ease;
}

.bottom-nav__item svg {
  width: 4rem;
  height: 4rem;
  color: black;
}

.bottom-nav__section {
  flex: 1;
  text-align: center;
}

.bottom-nav__item:hover svg {
  filter: brightness(1.5);
  transform: scale(1.1);
}

.bottom-nav__profile.active,
.bottom-nav__item.active svg {
  background-color: #ccc;
  border-radius: 10px;
}

.profile__header,
.profile__details {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  flex-wrap: wrap;
  gap: 1.5em;
  margin-bottom: 3em;
}

.profile__picture {
  height: 8rem;
  width: 8rem;
}

.profile__name {
  align-self: center;
  font-size: 2rem;
}

.profile__tags {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  font-weight: bold;
  font-size: 1.1em;
  width: 100%;
  gap: 5em;
}

.profile__tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2.5em;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 7px;
  color: black;
}

.profile__details {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  max-width: 80vw;
}

.profile__details h3 {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.profile__details p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #444;
}

.profile__settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 80vw;
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

body.dark {
  background-color: var(--primary-dark);
  color: var(--white);
}

body.dark .app-title {
  border-color: var(--white);
}

body.dark .profile__details-text {
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 2em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.3em;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider::before {
  transform: translateX(1.5em);
}
