* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.app-title {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  font-size: 2.5em;
  font-weight: 900;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem 0;
  background-color: white;
}

.bottom-nav__item {
  background: none;
  border: none;
  cursor: pointer;
  transition: filter 0.2s ease, transform 0.2s ease;
}

.bottom-nav__item img,
.bottom-nav__item svg {
  width: 4rem;
  height: 4rem;
  color: black;
}

.bottom-nav__section {
  flex: 1;
  text-align: center;
}

.bottom-nav__item:hover img,
.bottom-nav__item:hover svg {
  filter: brightness(1.5);
  transform: scale(1.1);
}

.bottom-nav__profile.active,
.bottom-nav__item.active svg {
  background-color: #ccc; 
  border-radius: 10px;
  fill: black;
}

.profile__header, .profile__details {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  flex-wrap: wrap;
}

.profile__picture {
  height: 8rem;
  width: 8rem;
}

.profile__name {
  align-self: center;
  font-size: 2rem;
}

.profile__tags {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  font-weight: bold;
  font-size: 1.1em;
  width: 100%;
  gap: 5em
}

.profile__tag {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em 2.5em;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 7px;
}

.profile__details {
  display: flex;
  justify-content: flex-start;
  margin-left: 7rem;
  margin-top: 1rem;
  max-width: 80vw;
}

.profile__details h3 {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.profile__details p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #444;
}